body {
	margin: 0px;
	background-color: #ddd;
	overflow: hidden;
  
  /* Fix alto en iphone */
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
  /*/Fix alto en iphone */
}
.ooo {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(red, transparent),  linear-gradient(to top left, lime, transparent),  linear-gradient(to top right, blue, transparent);
	background-blend-mode: screen;
  
  /* Fix alto en iphone */
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
  /*/Fix alto en iphone */
}
@media only screen and (max-width: 700px) {
  .ooo {
    /*background: none;*/
    background: url("images/fondo_mobile.png") cover;
  }
}
.super_contenedor {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  position: absolute;
  z-index: 9;
  
  /* Fix alto en iphone */
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
  /*/Fix alto en iphone */
}
.contenedor {
	 display: flex;
   align-items: stretch;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    
}
.contenido {
	padding: 20px 20px;
	background: #fff;
}
.contenido_clon {
  display: flex;
	justify-content: flex-end;
  flex-direction: column;
  padding: 20px 0px;
}
.contenido_grande {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: absolute;
  width: 50%;
  z-index: 999;
  right: 0;
}
.contenido_grande div {
  background: #fff;
  padding: 20px;
}
.despliegue {
  max-width: 500px;
  display: flex;
  align-content: center;
  align-items: center;
}
.despliegue_int p {
  padding-top: 10px;
}
.despliegue_int {
  padding: 20px;
}
/* */
.cont_bio .despliegue_int {
  background: #2feaa2;
}
.cont_works .despliegue_int {
  background: #ff47bc;
}
.cont_contact .despliegue_int {
  background: #ff904f;
}
.cont_bio, .cont_works, .cont_contact {
	display: none;
}
.cerrar {
  float: right;
  cursor: pointer;
  width: 20px;
}
.menu {
	background: #000;
	color: #fff;
  font-size: 1.3em;
  font-weight: 300;
  
  -webkit-transition: all 400ms; /* Safari */
  transition: all 400ms;
}
.menu div {
  padding: 0px 20px;
  cursor: pointer;
}
.gallery a img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  max-width: 37px;
  opacity: .5;
}

canvas {
  /* Fix alto en iphone */
  height: 100vh !important; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100) !important;
  margin: 0 auto !important;
  /*/Fix alto en iphone */
  overflow: hidden;
}
/* Responsivo */

@media only screen and (max-width: 700px) {
  .despliegue {
    position: absolute;
    bottom: 0;
  }
  .contenedor {
    /*justify-content: flex-start;*/
  }
  .despliegue_int {
    height: 160px !important
  }
  .despliegue {
    max-width: 100%;
  }
}

/* Animacion */
.swing-in-left-fwd {
	-webkit-animation: swing-in-left-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	animation: swing-in-left-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
 @-webkit-keyframes swing-in-left-fwd {
 0% {
 -webkit-transform: rotateY(100deg);
 transform: rotateY(100deg);
 -webkit-transform-origin: left;
 transform-origin: left;
 opacity: 0;
}
 100% {
 -webkit-transform: rotateY(0);
 transform: rotateY(0);
 -webkit-transform-origin: left;
 transform-origin: left;
 opacity: 1;
}
}
 @keyframes swing-in-left-fwd {
 0% {
 -webkit-transform: rotateY(100deg);
 transform: rotateY(100deg);
 -webkit-transform-origin: left;
 transform-origin: left;
 opacity: 0;
}
 100% {
 -webkit-transform: rotateY(0);
 transform: rotateY(0);
 -webkit-transform-origin: left;
 transform-origin: left;
 opacity: 1;
}
}
/*/Animacion */
