body {
	margin: 0px;
	background-color: #ddd;
	overflow: hidden;
}

/* Fix alto mobile scroll */
body, .super_contenedor, .ooo {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  margin: 0 auto;
}
/*/Fix alto mobile scroll */

.ooo {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(red, transparent),  linear-gradient(to top left, lime, transparent),  linear-gradient(to top right, blue, transparent);
	background-blend-mode: screen;
}
@media only screen and (max-width: 700px) {
  .ooo {
    background: none;
    /*background: url("images/fondo_mobile.png") cover;*/
  }
}
.super_contenedor {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  position: absolute;
  z-index: 9;
}
.contenedor {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100vh;  
}
.contenido {
	padding: 20px 20px;
	background: #fff;
}
.contenido_clon {
  display: flex;
	justify-content: flex-end;
  flex-direction: column;
  padding: 20px 0px;
}
.contenido_grande {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: absolute;
  width: 50%;
  z-index: 999;
  right: 0;
}
.contenido_grande div {
  background: #fff;
  padding: 20px;
}
.despliegue {
  max-width: 500px;
  display: flex;
  align-content: center;
  align-items: center;
}
.despliegue_int p {
  padding-top: 10px;
}
.despliegue_int {
  padding: 20px;
}
.despliegue_int h2 {
  font-size: 1.5em;
}
.cont_bio .despliegue_int {
  background: rgba(47, 234, 162, 1);
}
.cont_works .despliegue_int {
  background: rgba(255, 71, 188, 1);
}
.cont_contact .despliegue_int {
  background: rgba(255, 144, 79, 1);
}
.cont_bio, .cont_works, .cont_contact {
	display: none;
}
.cerrar {
  float: right;
  cursor: pointer;
  width: 20px;
}
.menu {
	background: rgba(0, 0, 0, 1);
	color: #fff;
  font-size: 1.3em;
  font-weight: 300;
  
  -webkit-transition: all 400ms; /* Safari */
  transition: all 400ms;
}
.menu div {
  padding: 5px 20px 0px 20px;
  cursor: pointer;
}
.gallery a img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  max-width: 37px;
  opacity: .5;
}
canvas {
  overflow: hidden;
}
.mini_video {
  display: inline-block;
  width: 17%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: .5;
  
  -webkit-transition: all 400ms; /* Safari */
  transition: all 400ms;
}
/* Lity */
.wrap {
    width: 90%;
    max-width: 640px;
    margin: 0 auto 30px auto;
}
.wrap-center {
    text-align: center;
}
/*/Lity */

/* Responsivo */
@media only screen and (max-width: 700px) {
  .despliegue {
    position: absolute;
    bottom: 0;
  }
  .contenedor {
    justify-content: flex-start;
  }
  .despliegue_int {
    height: 170px !important
  }
  .despliegue {
    max-width: 100%;
  }
  .mini_video {
    width: 49%;
  }
  .elem_1 {
    padding-bottom: 0px;
  }
}
/*/Responsivo */
